<div class="text-left">
  <h2>{{format_date date_created}}</h2>
  <p>today I feel {{parentMood}}. But more specifically I feel {{childMood}}, because I am {{grandChildMood}}. I feel this way because {{entry}}.
  </p>
</div>
